.clearable-span {
	position: relative;
}
.clearable-icon {
	display: block;
	cursor: pointer;
	width: 20px !important;
	position: absolute;
	right: 1px;
	top:1px;
	/*line-height: 19px;*/
	background: rgb(225, 225, 225);
	text-align: center;
	border-radius: 2px;
	/*height: 20px;*/
}